<!DOCTYPE html>
<!--
    Encargado para Damian
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>

        <header th:replace="~{general/fragmentos :: header}"></header>

        <section class="container mt-5">

            <h2 th:text="${categoria.id == null} ? 'Nueva Categoría' : 'Editar Categoría'"></h2>

            <form th:action="@{/categoria/guardar}" method="post">

                <input type="hidden" th:field="${categoria.id}">

                <div class="mb-3">
                    <label class="form-label">Nombre de la Categoría</label>

                    <input type="text"
                           class="form-control"
                           th:field="${categoria.nombre}"
                           placeholder="Ingrese el nombre de la categoría"
                           required>
                </div>

                <button type="submit" class="btn btn-success">
                    Guardar
                </button>

                <a th:href="@{/categoria/listado}" class="btn btn-secondary">
                    Cancelar
                </a>

            </form>

        </section>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>