<!DOCTYPE html>
<!--
    Encargado para Damian
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>

        <header th:replace="~{general/fragmentos :: header}"></header>

        <div class="container mt-5">

            <h3>Mis Reservas</h3>

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>

                <tbody>

                    <tr th:each="r : ${reservas}">

                        <td th:text="${r.usuario.nombre}"></td>
                        <td th:text="${r.producto.nombre}"></td>
                        <td th:text="${r.cantidad}"></td>

                    </tr>

                </tbody>

            </table>

        </div>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>